<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="cbQuickGoogleMap">
    <f:if condition="{width}">
        <f:then>
            <div class="inner_cbQuickGoogleMap" id="cbsgm_{contentId}" style="width:{width}px; height:{height}px;"></div>
        </f:then>
        <f:else>
            <div class="inner_cbQuickGoogleMap" id="cbsgm_{contentId}" style="width:100%; height:{height}px;"></div>
        </f:else>
    </f:if>
</div>



<f:if condition="{mapProvider} == 'Google'">
    <script type="text/javascript">
        window.addEventListener("load", function(event) <f:format.raw>{</f:format.raw>

        var mapType_{contentId} = '{mapType}';

        // get map styling
        switch (mapType_{contentId}) <f:format.raw>{</f:format.raw>
        case "HYBRID":
        mapType_{contentId} = google.maps.MapTypeId.HYBRID;
        break;
        case "SATELLITE":
        mapType_{contentId} = google.maps.MapTypeId.SATELLITE;
        break;
        case "TERRAIN":
        mapType_{contentId} = google.maps.MapTypeId.TERRAIN;
        break;
        default:
        mapType_{contentId} = google.maps.MapTypeId.ROADMAP;
        <f:format.raw>}</f:format.raw>

        var infoText_{contentId} = decodeURIComponent("{infoText}").replace(/\+/g, ' ');

        var rowsInfoText_{contentId} = infoText_{contentId};

        var latlng_{contentId} = new google.maps.LatLng(
            <f:format.number decimals="10" decimalSeparator=".">{latitude}</f:format.number>,
            <f:format.number decimals="10" decimalSeparator=".">{longitude}</f:format.number>
        );

    var mapOptions_{contentId} = <f:format.raw>{</f:format.raw>
        center:      latlng_{contentId},
        zoom:        {mapZoom},
        mapTypeId:   mapType_{contentId},
        navigationControlOptions: new Object(),
            scrollwheel: {useScrollwheel},
        <f:if condition="{mapStyling}">
            styles: <f:format.raw>{mapStyling}</f:format.raw>,
        </f:if>
        <f:format.raw>}</f:format.raw>
        mapOptions_{contentId}.navigationControlOptions.style = google.maps.NavigationControlStyle.{mapControl};

        var mapCenter_{contentId} = <f:format.raw>{</f:format.raw>
        position: latlng_{contentId},
        title:    rowsInfoText_{contentId}[0],
        <f:if condition="{icon}">
            icon:     '{icon}',
        </f:if>
        <f:format.raw>}</f:format.raw>

        var map_{contentId}    = new google.maps.Map(document.getElementById("cbsgm_{contentId}"), mapOptions_{contentId});
        var marker_{contentId} = new google.maps.Marker(mapCenter_{contentId});

        // set info window
        if ('' != infoText_{contentId})<f:format.raw>{</f:format.raw>
        infoText_{contentId}       = infoText_{contentId};
        var infoBox_{contentId}    = <f:format.raw>{</f:format.raw> content: infoText_{contentId} <f:format.raw>}</f:format.raw>
        var infowindow_{contentId} = new google.maps.InfoWindow(infoBox_{contentId});

        // add listener
        google.maps.event.addListener(marker_{contentId}, 'click', function(){
            infowindow_{contentId}.open(map_{contentId},marker_{contentId});
        });
        <f:format.raw>}</f:format.raw>


        if (true == '{openInfoBox}') <f:format.raw>{</f:format.raw>
            // show map, open infoBox and center view to marker and infowindow
            google.maps.event.addListener(map_{contentId}, 'tilesloaded', function()<f:format.raw>{</f:format.raw>
                google.maps.event.trigger(marker_{contentId}, 'click');
                google.maps.event.clearListeners(map_{contentId}, 'tilesloaded');
            <f:format.raw>}</f:format.raw>);
        <f:format.raw>}</f:format.raw>

        // assign marker to the map
        marker_{contentId}.setMap(map_{contentId});

        <f:format.raw>}</f:format.raw>, false);
    </script>

</f:if>



<f:if condition="{mapProvider} == 'MapBox'">

    <script>
        window.addEventListener("load", function(event) <f:format.raw>{</f:format.raw>

        var mapType_{contentId} = '{mapType}';
        var infoText_{contentId} = '{infoText}';
        var useScrollwheel_{contentId} = '{useScrollwheel}';

        // get map styling
        switch (mapType_{contentId}) <f:format.raw>{</f:format.raw>
        case "MapBox-BASIC":
        mapType_{contentId} = 'mapbox://styles/mapbox/basic-v9';
        break;
        case "MapBox-BRIGHT":
        mapType_{contentId} = 'mapbox://styles/mapbox/bright-v9';
        break;
        case "MapBox-LIGHT":
        mapType_{contentId} = 'mapbox://styles/mapbox/light-v9';
        break;
        case "MapBox-DARK":
        mapType_{contentId} = 'mapbox://styles/mapbox/dark-v9';
        break;
        case "MapBox-SATELLITE":
        mapType_{contentId} = 'mapbox://styles/mapbox/satellite-v9';
        break;
        default:
        mapType_{contentId} = 'mapbox://styles/mapbox/streets-v9';
        <f:format.raw>}</f:format.raw>

        //
        // create map by mapboy
        mapboxgl.accessToken = '{settings.mapboxapi.accessToken}';

        var mapboxmap_{contentId} = new mapboxgl.Map(<f:format.raw>{</f:format.raw>
        container: 'cbsgm_{contentId}',
            center: [{longitude}, {latitude}],       // longitude and latitude switched!
            minZoomnumber: 0,
            maxZoomnumber: 24,
            zoom:{mapZoom},
        style: mapType_{contentId}
        <f:format.raw>}</f:format.raw>).addControl(new mapboxgl.NavigationControl());


        // disable mousewheel for zooming
        if (0 == useScrollwheel_{contentId}) <f:format.raw>{</f:format.raw>
        mapboxmap_{contentId}.scrollZoom.disable();
        <f:format.raw>}</f:format.raw>

        // add infotext popup if given
        if ('' !== infoText_{contentId}) <f:format.raw>{</f:format.raw>
        var mapboxPopup_{contentId} = new mapboxgl.Popup(<f:format.raw>{</f:format.raw> closeOnClick: true, closeButton: false <f:format.raw>}</f:format.raw>)
        .setLngLat([{longitude}, {latitude}])
            .setHTML( decodeURIComponent("{infoText}").replace(/\+/g, ' '));
        <f:format.raw>}</f:format.raw>

        // open infotextBox if defined
        if (true == '{openInfoBox}')<f:format.raw>{</f:format.raw>
        mapboxPopup_{contentId}.addTo(mapboxmap_{contentId});
        <f:format.raw>}</f:format.raw>


        // add mapbox icon if given
        <f:if condition="{settings.mapboxapi.icon.iconUrl}">
            var mapBoxIcon_{contentId} = document.createElement('div');
        mapBoxIcon_{contentId}.className = 'marker';
        mapBoxIcon_{contentId}.style.backgroundImage = "url('{settings.mapboxapi.icon.iconUrl}')";
        mapBoxIcon_{contentId}.style.backgroundSize = 'contain';
        <f:if condition="{settings.mapboxapi.icon.iconWidth}">
            mapBoxIcon_{contentId}.style.width = '{settings.mapboxapi.icon.iconWidth}px';</f:if>
        <f:if condition="{settings.mapboxapi.icon.iconHeight}">
            mapBoxIcon_{contentId}.style.height = '{settings.mapboxapi.icon.iconHeight}px';</f:if>
        <f:if condition="0 <> {settings.mapboxapi.icon.iconOffsetY}">
            mapBoxIcon_{contentId}.style.top = '{settings.mapboxapi.icon.iconOffsetY}px';</f:if>
        <f:if condition="0 <> {settings.mapboxapi.icon.iconOffsetX}">
            mapBoxIcon_{contentId}.style.left = '{settings.mapboxapi.icon.iconOffsetX}px';</f:if>
        </f:if>


        // add marker to the position
        var mapboxMarker_{contentId} = new mapboxgl.Marker(
            <f:if condition="{settings.mapboxapi.icon.iconUrl}">mapBoxIcon_{contentId} </f:if>)
            .setLngLat([{longitude}, {latitude}])    // longitude and latitude switched!
            .addTo(mapboxmap_{contentId})
        .setPopup(mapboxPopup_{contentId});

        <f:format.raw>}</f:format.raw>, false);
    </script>
</f:if>



<f:if condition="{mapProvider} == 'OpenStreetMap'">

    <script>
        window.addEventListener("load", function(event) <f:format.raw>{</f:format.raw>

        // set map
        var map_{contentId} = L.map('cbsgm_{contentId}', <f:format.raw>{</f:format.raw>
        center: [{latitude}, {longitude}],
            zoom: {mapZoom},
            gestureHandling: true,
        scrollWheelZoom: {useScrollwheel}
        <f:format.raw>}</f:format.raw>);


        // add osm layer
        L.tileLayer('{settings.osmapi.tileLayer.template -> f:format.raw()}', <f:format.raw>{</f:format.raw>
        attribution: '{settings.osmapi.tileLayer.attribution -> f:format.raw()}'
        <f:format.raw>}</f:format.raw>).addTo(map_{contentId});


        // add osm icon if given
        <f:if condition="{settings.osmapi.icon.iconUrl}">
            var osmIcon_{contentId} = L.icon(<f:format.raw>{</f:format.raw>
        iconUrl: '{settings.osmapi.icon.iconUrl}',
        <f:if condition="{settings.osmapi.icon.iconWidth}">
            <f:if condition="{settings.osmapi.icon.iconHeight}">
            iconSize: [{settings.osmapi.icon.iconWidth},{settings.osmapi.icon.iconHeight}],
        </f:if></f:if>
        <f:if condition="{settings.osmapi.icon.iconAnchorX}">
            <f:if condition="{settings.osmapi.icon.iconAnchorY}">
            iconAnchor: [{settings.osmapi.icon.iconAnchorX},{settings.osmapi.icon.iconAnchorY}],
        </f:if></f:if>
        <f:if condition="{settings.osmapi.icon.popupAnchorX}">
            <f:if condition="{settings.osmapi.icon.popupAnchorY}">
            popupAnchor: [{settings.osmapi.icon.popupAnchorX},{settings.osmapi.icon.popupAnchorY}],
        </f:if></f:if>
        <f:if condition="{settings.osmapi.icon.tooltipAnchorX}">
            <f:if condition="{settings.osmapi.icon.tooltipAnchorY}">
            tooltipAnchor: [{settings.osmapi.icon.tooltipAnchorX},{settings.osmapi.icon.tooltipAnchorY}],
        </f:if></f:if>
        <f:if condition="{settings.osmapi.icon.shadowUrl}">
            shadowUrl: {settings.osmapi.icon.shadowUrl},
        </f:if>
        <f:if condition="{settings.osmapi.icon.shadowWidth}">
            <f:if condition="{settings.osmapi.icon.shadowHeight}">
            shadowSize: [{settings.osmapi.icon.shadowWidth},{settings.osmapi.icon.shadowHeight}],
        </f:if></f:if>
        <f:if condition="{settings.osmapi.icon.shadowAnchorX}">
            <f:if condition="{settings.osmapi.icon.shadowAnchorY}">
            shadowAnchor: [{settings.osmapi.icon.shadowAnchorX},{settings.osmapi.icon.shadowAnchorY}],
        </f:if></f:if>
        <f:format.raw>}</f:format.raw>);
        </f:if>


        // add marker
        var osmMarker_{contentId} = L.marker([
            {latitude}, {longitude}],<f:format.raw>{</f:format.raw>
            <f:if condition="{settings.osmapi.icon.iconUrl}"> icon: osmIcon_{contentId} </f:if>
        <f:format.raw>}</f:format.raw>
        ).addTo(map_{contentId});


        // add popup / infotext
        <f:if condition="{infoText}">
            var infoText_{contentId} = decodeURIComponent("<f:format.html>{infoText}</f:format.html>").replace(/\+/g, ' ');

        <f:if condition="{openInfoBox}">
            <f:then>
        osmMarker_{contentId}.bindPopup(infoText_{contentId}).openPopup();
        </f:then>
        <f:else>
        osmMarker_{contentId}.bindPopup(infoText_{contentId});
        </f:else>
        </f:if>
        </f:if>
        <f:format.raw>}</f:format.raw>, false);
    </script>

</f:if>
<f:asset.script identifier="mapsJavaScript" src="{assets.js}" />
<f:asset.css identifier="mapsCss" href="{assets.css}" />
<f:asset.script identifier="leafletgesture" src="EXT:cbgooglemaps/Resources/Public/JavaScript/leaflet/leaflet-gesture-handling.js" />           
<f:asset.css identifier="leafletgesture" href="EXT:cbgooglemaps/Resources/Public/Css/leaflet-gesture-handling.css" />   
</html>